<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitat-Savane</title>
    <link rel="stylesheet" href="/CSS/Savane.css">
    
    <%- include("partials/header.ejs") %>

                      <!-- --------------------------CARD IMAGE-------------------------->

        <div class="card">
            <div class="card-body  card-jungle">
              <h1 class="title-h1">JUNGLE</h1>
              <p class="card-text">Entrez dans notre jungle tropicale, un véritable sanctuaire de verdure et de biodiversité. Ici, vous serez émerveillé par les singes agiles qui se balancent d’arbre en arbre, 
                jouant et faisant des acrobaties. Les écureuils, vifs et curieux, explorent les branches à la recherche de noix et de fruits. À la tombée de la nuit, les hiboux se réveillent, 
                leurs grands yeux brillants scrutant l’obscurité. Cette zone du zoo vous invite à découvrir la magie de la jungle et à en apprendre davantage sur les animaux qui y vivent.</p>
            </div>
            <img src="/Images/Habitat/index/jungle.jpg" class="card-img-bottom savane-img" alt="Image de savane">
          </div>



                <!-- --------------------------ANIMAUX-------------------------->

      <div class="container-animaux">   
        <h1 class="animaux-h1">ANIMAUX</h1>  
        <div class="card-group">
  <div class="card">
    <img src="/Images/Habitat/Jungle/ecureuil.jpg" class="card-img-top" alt="Image de giraffe">
    <div class="card-body  card-jungle">
      <h3 class="title">Ecureuil </h3>
      <ul class="list">
        <li class="list-group-item border">Nom: Chip</li>
        <li class="list-group-item border">Race: Ecureuil gris </li>
        <li class="list-group-item border">Habitat: Jungle</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <img src="/Images/Habitat/Jungle/singe.jpg" class="card-img-top" alt="Image de lion">
    <div class="card-body  card-jungle">
        <h3 class="title">Singe</h3>
        <ul class="list">
          <li class="list-group-item border">Nom: Max</li>
          <li class="list-group-item border">Race: Singe capucin </li>
          <li class="list-group-item border">Habitat: Jungle</li>
        </ul>
    </div>
  </div>
  <div class="card">
    <img src="/Images/Habitat/Jungle/hibou.jpg" class="card-img-top" alt="Image de zèbre">
    <div class="card-body  card-jungle">
      <h3 class="title">Hibou</h3>
      <ul class="list">
        <li class="list-group-item border">Nom: Owlbert</li>
        <li class="list-group-item border">Race: Hibou grand-duc </li>
        <li class="list-group-item border">Habitat: Jungle</li>
      </ul>
    </div>
  </div>
</div>
</div>


<%- include("partials/footer.ejs") %>