<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitat-Savane</title>
    <link rel="stylesheet" href="/CSS/Savane.css">
    
    <%- include("partials/header.ejs") %>

     
                      <!-- --------------------------CARD IMAGE-------------------------->

        <div class="card">
            <div class="card-body card-savane">
              <h1 class="title-h1">SAVANE</h1>
              <p class="card-text">Bienvenue dans notre section dédiée à la savane, où vous pourrez découvrir un paysage inspiré des vastes plaines africaines. 
                Admirez les élégantes girafes qui se nourrissent des feuilles des arbres, les lions, véritables rois de la savane, qui se prélassent au soleil, 
                les visiteurs peuvent également observer des zèbres vivant dans leur espace naturel.  Ce coin du zoo vous plongera au cœur de la vie sauvage et de ses merveilles.</p>
            </div>
            <img src="/Images/Habitat/index/savane.jpg" class="card-img-bottom savane-img" alt="Image de savane">
          </div>



                <!-- --------------------------ANIMAUX-------------------------->

      <div class="container-animaux">   
        <h1 class="animaux-h1">ANIMAUX</h1>  
        <div class="card-group">
  <div class="card">
    <img src="/Images/Habitat/Savane/giraffe.jpg" class="card-img-top" alt="Image de giraffe">
    <div class="card-body card-savane">
      <h3 class="title">Giraffe</h3>
      <ul class="list">
        <li class="list-group-item border">Nom: Melman</li>
        <li class="list-group-item border">Race: Girafe de Kordofan </li>
        <li class="list-group-item border">Habitat: Savane</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <img src="/Images/Habitat/Savane/lion.jpg" class="card-img-top" alt="Image de lion">
    <div class="card-body card-savane">
        <h3 class="title">Lion</h3>
        <ul class="list">
          <li class="list-group-item border">Nom: Simba</li>
          <li class="list-group-item border">Race: lion d'Afrique </li>
          <li class="list-group-item border">Habitat: Savane</li>
        </ul>
    </div>
  </div>
  <div class="card">
    <img src="/Images/Habitat/Savane/zebre.jpg" class="card-img-top" alt="Image de zèbre">
    <div class="card-body card-savane">
      <h3 class="title">Zèbre</h3>
      <ul class="list">
        <li class="list-group-item border">Nom: Marty</li>
        <li class="list-group-item border">Race: Zèbre de Burchell </li>
        <li class="list-group-item border">Habitat: Savane</li>
      </ul>
    </div>
  </div>
</div>
</div>


<%- include("partials/footer.ejs") %>