html {
    background-color: #005E09;

} 
       
       
       /* Header */

       #navbar {
        height: 100px;
        padding: 25px;
        line-height: 76px;
       background-color: #005E09;
    }
    
    /*div liste*/
    
    #navbarSupportedContent{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        color: #ffffff;
        font-family: 'Inter';
    }
    
    
    #logo {
    
    position: relative;
    width: 250px;
    height: 50px;
    left: 40px;
    top: -20px;
    line-height: 76px;
    font-family: 'Kameron';
    
    
    font-size: 40px;
    
    }
    
    nav {
        background-color: #048a21;
     /*   background-color: linear-gradient(90deg, #005E09 0%, #00920F 100%); */
    }
    
    
    #connexion-button {
        position: absolute;
        width: 123px;
        height: 30px;
        left: 1700px;
        top: 38px;
    }

/*-----------------------------------------------------------------------------------*/


/*----------------SECTION-------------------*/

section {
    position: absolute;
    width: 1903px;
    height: 500px;
    top: 200px;
    left: 0px;
}


.container {
    position: absolute;
    height: 400px;
    background-color: rgb(4, 51, 20);
}    


form {
    position: absolute;
    width: 800px;
    height: 400px;
    margin: 100px;
    left: 450px;
}



legend {
    position: relative;
    top: 10px;
    left: 310px;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    text-decoration: underline; 
    color: #FFFFFF;

}


.mb-3 {
    position: relative;
    top: 20px;
}

#submit
 {
    position: relative;
    width: 200px;
    left: 300px;
}


label {
    color: #FFFFFF;
}










        /*-----------------------------FOOTER----------------------------*/

#footer {

position: absolute;
width: 1903px;
height: 206px;
left: 0px;
top: 1000px;

background: #646464;

}

/* ARCADIA footer logo */

#Logo-footer {
    position: absolute;
    width: 250px;
    height: 50px;
    left:calc(50% - 292px/2);
    top:60px ;
}

#copyright {
    position: absolute;
    text-align: center;
    padding: 5px;
    left:calc(50% - 350px/2); 
    top: 120px;
    color: #ffffff;    
}