html {
    background-color: #005E09;

} 
       
       
       /* -----------------------------Header-------------------------- */

       #navbar {
        height: 100px;
        padding: 25px;
        line-height: 76px;
       background-color: #005E09;
    }
    
    /*div liste*/
    
    #navbarSupportedContent{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        color: #ffffff;
        font-family: 'Inter';
    }
    
    
    #logo {
    
    position: relative;
    width: 250px;
    height: 50px;
    left: 40px;
    top: -20px;
    line-height: 76px;
    font-family: 'Kameron';
    
    
    font-size: 40px;
    
    }
    
    nav {
        background-color: #048a21;
     /*   background-color: linear-gradient(90deg, #005E09 0%, #00920F 100%); */
    }
    
    
    #connexion-button {
        position: absolute;
        width: 123px;
        height: 30px;
        left: 1700px;
        top: 38px;
    }


/*------------------------------------------------------------------------*/

/*----------------------------------SECTION 1-----------------------------*/

#section-contact {

position: absolute;
width: 1903px;
height: 519px;
top: 209px;
}

.text{
    position: absolute;
    width: 806px;
    height: 162px;
    left: 350px; 
    top: 51px;
    color: #ffffff;
}


h1 {
position: absolute;
width: 355px;
height: 63px;

font-family: 'Kameron';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 76px;
text-decoration-line: underline;

}


h4 {
position: absolute;
width: 668px;
height: 57px;


font-family: 'Kameron';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 57px;
/* identical to box height */
}


#mail-h1 {

position: absolute;
left: 500px;
top: -50px;
}

#mail-h4 {
    position: absolute;
    left: 450px;
    top: 50px;
}

#num-h1 {
    position: absolute;
    width: 750px;
    left:730px;
    top: 300px; 
    color: #FFFFFF;
}

#num-h4 {
    position: absolute;
    left: 850px;
    top: 400px;
    color: #ffffff;
}

/*-----------------------------------------------------------------------*/

/*-----------------------------  SECTION 2-------------------------------*/

#section-form{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 82px;
gap: 32px;

position: absolute;
width: 700px;
height: 600px;
left: 600px;
top: 800px;

background: #FFFFFF;

}

.container {
    position: absolute;
    width: 1100px;
    height: 520px;
    left: 30px;
    top: 20px;
}

legend {
    /* Contact */

width: 176px;
height: 56px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 56px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}


.mb-3 {

position: relative;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 500px;
height: 82px;
left: 50px;
/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}



.form-control {
    width: 500px;
}

.button {
    position: absolute;
    width: 150px;
    height: 30px;
    left: 230px;
    top: 500px;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
}

.button:hover {
    background-color: #19a527;
}




/*---------------------------------SECTION 3--------------------------------*/

#rs {

position: absolute;
width: 600px;
height: 294px;
left: 55px;
top: 700px;
}

#rs-h1 {
    position: absolute;
    width: 550px;
    left: 110px;
    top:-80px;
    color: #ffffff;
}

.reseau-img {
    position: absolute;
    left: -20px;
    top: 100px; 
}

.reseau-img a {
    position: left;
    padding: 45px;
}



/*---------------------------------FOOTER------------------------------*/

#footer {

    position: absolute;
    width: 1903px;
    height: 206px;
    left: 0px;
    top: 1800px;
    
    background: #646464;
    
    }
    
    /* ARCADIA footer logo */
    
    #Logo-footer {
        position: absolute;
        width: 250px;
        height: 50px;
        left:calc(50% - 292px/2);
        top:60px ;
    }
    
    #copyright {
        position: absolute;
        text-align: center;
        padding: 5px;
        left:calc(50% - 320px/2); 
        top: 120px;
        color: #ffffff;    
    }