html {
    background-color: #005E09;

} 
       
       
       /*---------------------------------------------- Header------------------------------------------ */
/*
header {

    width: 1903px;
    height: 0px;
    left: 0px;
    top: 0px;

     background-color: linear-gradient(90deg, #005E09 0%, #00920F 100%);
}
*/
    /*navbar*/

#navbar {
    height: 100px;
    padding: 25px;
    line-height: 76px;
   background-color: #005E09;
}

/*div liste*/

#navbarSupportedContent{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #ffffff;
    font-family: 'Inter';
}


#logo {

position: relative;
width: 250px;
height: 50px;
left: 40px;
top: -20px;
line-height: 76px;
font-family: 'Kameron';


font-size: 40px;

}

nav {
    background-color: #048a21;
 /*   background-color: linear-gradient(90deg, #005E09 0%, #00920F 100%); */
}


#connexion-button {
    position: absolute;
    width: 123px;
    height: 30px;
    left: 1700px;
    top: 38px;
}   


   /*---------------------------SECTION 1-------------------------------*/

#section-1 {

position: relative;
width: 1903px;
height: 950px;
left: 0px;
top: 45px;

/* degrader arcadia */
color: linear-gradient(180deg, rgba(0, 65, 6, 0) 0%, rgba(1, 116, 12, 0.5) 100%);

}

/* ARCADIA */


#title-arcadia {
    

position: absolute;
width: 292px;
height: 76px;
left: calc(50% - 292px/2);
top: 20px;

font-family: 'Kameron';
font-style: normal;
font-weight: 547;
font-size: 64px;
line-height: 76px;
/* identical to box height */
text-align: center;
text-decoration-line: underline;
text-transform: uppercase;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

color: #FFFFFF;
}

/* Paragraphe intro */

.intro p {
position: absolute;
width: 1440px;
height: 186px;
left: calc(50% - 1440px/2);
top: 200px;

font-family: 'Kameron';
font-style: normal;
font-weight: 547;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


color: #FFFFFF;
}
  
/* Image de fond */



#img-fond {
    position: absolute;
    width: 1903px;
    height: 952px;
    top: -46px;
    background: url(/1-\ Frontend/Images/Accueil/Fond/image\ de\ fond.jpg);
    background-size: 100%;
}

#degrader {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 65, 6, 0) 0%, rgb(0, 75, 7) 100%);
    width: 1903px;
    height: 952px;
    top: -46px;
}


.carousel-item{
    position: absolute;
    width: 20px;
    height: 1000px;
    left: 496px;
    top: 380px;
}


.carousel-control-prev-icon { 
    position: relative;
    left: 400px;
    top: 140px;
}

.carousel-control-next-icon{
    position: relative;
    right: 360px;
    top: 140px;
}

        /*SECTION 2*/
        
#section-2 {
    position: absolute;
    width: 1903px;
    height: 538px;
    left: 0px;
    top: 1250px;
    background-color: #4B8446;
}




#habitat-title {
position: absolute;
width: 292px;
height: 76px;
left: calc(50% - 292px/2);
top: 10px;


font-family: 'Kameron';
font-style: normal;
font-weight: 547;
font-size: 60px;
line-height: 76px;
/* identical to box height */
text-align: center;
text-decoration-line: underline;
text-transform: uppercase;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

color: #FFFFFF;
}

/* savane */
.savane-img {

position: absolute;
width: 448px;
height: 275px;
left: 23px;
top: 131px;

background: url(Savanejpg.jpg);
filter: blur(2px);

}

/* Jungle */

.jungle-img {
position: absolute;
width: 448px;
height: 275px;
left: 725px;
top: 131px;
filter: blur(2px);

}

/* Marais */

.marais-img {
position: absolute;
width: 448px;
height: 275px;
left: 1400px;
top: 131px;

filter: blur(2px);

}


.habitat-h3 {
font-family: 'Kameron';
font-style: normal;
font-weight: 492;
font-size: 80px;
line-height: 95px;
/* identical to box height */
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-top: 80px;

}


#savane h3 {
    position: absolute;
    width: 425px;
    height: 95px;
    left: 23px;
    top: 145px;
    overflow: visible;
}


#jungle h3 {
    position: absolute;
    width: 425px;
    height: 93px;
    left: 730px;
    top: 138px;
}


#marais h3 {
position: absolute;
width: 425px;
height: 93px;
left: 1420px;
top: 138px;
}

.habitat {
position: absolute;
top: 30px;
}

#section-3 {
position: absolute;
width: 1903px;
height: 952px;
left: 0px;
top: 1740px;
padding: 200px 0px 0px 0px;
}

/* Votre avis compte */

#section-3 h1 {
position: absolute;
width: 287px;
height: 43px;
left: calc(50% - 287px/2);
top: 200px;

font-family: 'Kameron';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
text-decoration: underline;
/* identical to box height */

color: #FFFFFF;
}



#formulaire {
    position: absolute;
    left: -60px;
    top: 60px;
}



.avis {
position: absolute;
width: 932px;
height: 54px;
left: 300px;
top:170px;
}

.input-group {
    position: absolute;
    width: 932px;
    height: 54px;
    left: 484px;
    top: 300px;
}


/*
.input-group-text {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Kameron';
    font-style: normal;
    line-height: 43px;
    font-size: 24px;
    left: -55px;
    top: -3px;
}
*/


.form-control-1 {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 115px;
}



.form-control-2 {
    position: absolute;
    width: 344px;
    height: 30px;
    left: 425px;
}





/* formulaire avis */

.text-form {
position: absolute;
width: 654px;
height: 40px;
left: 0px;
top: 0px;
}


/* bouton envoyer */

.button-form {
position: absolute;
width: 154px;
height: 47px;
left: 670px;
top: 0px;
background: #ffffff;
}

.button-form:hover {
    background-color: #00920F;
}

#espace-avis {
    position: absolute;
    width: 825px;
    height: 400px;
    left: 300px;
    top: 250px;
    background-color: #FFFFFF;

}


        /*FOOTER*/

#footer {

position: absolute;
width: 1903px;
height: 206px;
left: 0px;
top: 2750px;

background: #646464;

}

/* ARCADIA footer logo */

#Logo-footer {
    position: absolute;
    width: 250px;
    height: 50px;
    left:calc(50% - 292px/2);
    top:60px ;
}

#copyright {
    position: absolute;
    text-align: center;
    padding: 5px;
    left:calc(50% - 350px/2); 
    top: 120px;
    color: #ffffff;    
}